$primary: #5265E1;
$secondary: #FA5959;
$light: #f3f3f3;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";
html, body{
	overflow-x: hidden;
}
.fondo_azul_derecha{
  position: relative;
  width: max-content;
  margin: 10%;
}
.fondo_azul_derecha::before {
  content: '';
  position: absolute;
  bottom: -10%;
  left: 30%;
  width: 90%;
  height: 80%;
  background-color: $primary;
  border-bottom-left-radius: 40%;
  z-index: -1;
}
.fondo_azul_izquierda{
  position: relative;
  width: max-content;
  margin: 10%;
}
.fondo_azul_izquierda::before {
  content: '';
  position: absolute;
  bottom: -28%;
  right: 15%;
  width: 120%;
  height: 100%;
  background-color: $primary;
  border-bottom-right-radius: 36%;
  z-index: -1;
}

p{
  color: grey;
}

.card-img-top{
  height: 40%;
  width: 40%;
  margin: auto;
}
.card{
  border: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  p{
    font-size: small;
  }
  a{
    font-size: small;
    width: 100%;
  }
}
#accordionFlushExample{
width: 60%;
}
.btn-single-line{
  white-space: nowrap;
}
.nav-tabs .nav-link.active{
  border-bottom: 3px solid $secondary;
  border-top: none;
  border-left: none;
  border-right: none;
}
.nav-tabs .nav-link{
  border-top: none;
  border-left: none;
  border-right: none;
  color: gray;
}

#navbar-bottom{
  background-color: black;
  a.nav-link{
    color:white;
    margin-right: 15px;
  }
  img{
    vertical-align: middle;
  }
}
#exampleInputEmail1{
  width: 40%;
}
.footer-p{
  color:white;
}

.btn-secondary{
  color: white;
  &:hover{
    color: $secondary;
    background-color: white;
  }
}
.btn-primary:hover{
  color: $primary;
  background-color: white;
}
.nav-link:hover{
  color: $secondary !important;
}
.accordion-button:hover{
  color: $secondary;
}
.logo-social:hover{
  filter: brightness(0) saturate(100%) invert(42%) sepia(46%) saturate(812%)
    hue-rotate(314deg) brightness(107%) contrast(96%);
}
.invalid-tooltip{
  background-color: $secondary;
  color: white;
}

@media (max-width: 768px) {
  #accordionFlushExample{
    width: 100%;
  }
  .responsive-column{
    display: flex;
    flex-direction: column-reverse;
  }
  .nav-item .navbar-nav{
    flex-direction: column;
    text-align: center;
    margin-left: 0;
  }
  .logos-footer{
    flex-direction: row;
  }
}
