$primary: #5265E1;
$secondary: #FA5959;
$light: #f3f3f3;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.fondo_azul_derecha{
  position: relative;
  width: max-content;
  margin: 40px;
}
.fondo_azul_derecha::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 180px;
  width: 100vh;
  height: 360px;
  background-color: $primary;
  border-radius: 200px;
  z-index: -1;
}
.fondo_azul_izquierda{
  position: relative;
  width: max-content;
  margin: 40px;
}
.fondo_azul_izquierda::before {
  content: '';
  position: absolute;
  bottom: -95px;
  right: 80px;
  width: 100vh;
  height: 360px;
  background-color: $primary;
  border-radius: 200px;
  z-index: -1;
}

p{
  color: grey;
}
